
normal_exefs
beta/
dist/nightly/ryujinx-package.zip
legacy_discovery
Source/backup*
nightly/
.vscode/settings.json
YuzuTool_ver0-1.zip
Source/__pycache__
build/
YuzuHDRTool*
dist
test.zip
Source/__pycache__/YuzuToolMenu.cpython-38.pyc
sdmc.lnk
config.ini
*fixed_exefs